html {
    /* defines what 1rem is*/
    font-size: 62.5%;
}
.container {
    padding-top: 6rem;
    padding-bottom: 3rem;
}
.section-content {
    font-size: 1.3rem;
}
.bm--card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
 }
 .bm--card-equal-height .card-footer {
    margin-top: auto;
 }
 .card-footer-item button {
     font-size: 2rem;
 }
 /* Remove Firefox's inner focus indicator for buttons */
 .card-footer-item button::-moz-focus-inner {
    border:0;
  }